<!DOCTYPE html>
<html>
<head>
    <title>Readme</title>
</head>
<body>
<center>
    <h1 style="color: black;font-size: 30px;">YAHUSUYO HUU MFUMO</h1>

   <h2 style="color: black;font-size: 30px;"> images sources: Google.</h2>
<p style="color: black;font-size: 30px;">
    huu mfumo na kwa ajili ya kujifunza tu, na sio mfumo maalumu unaotumika na shirikisho au vilabu hapa tanzania kwa ajili ya kumanage taarifa zinazohusu wachezaji wao.<br>

</p>
<h1 style="color: black;font-size: 30px;">FOR EDUCATION PURPOSE ONLY</h1>


</center>
</body>
</html>